
log.level: {{ logstash_loglevel }}
path.logs: /var/log/logstash
path.data: /var/lib/logstash
path.dead_letter_queue: "/var/log/logstash/dead_letter_queue"
dead_letter_queue.enable: true
dead_letter_queue.max_bytes: 1024mb
dead_letter_queue.flush_interval: {{ logstash_dead_letter_queue_flush_interval }}
dead_letter_queue.retain.age: {{ logstash_dead_letter_queue_retain_age }}

xpack.monitoring.enabled: true
xpack.monitoring.elasticsearch.hosts: "https://127.0.0.1:9200"
xpack.monitoring.elasticsearch.api_key: "{{ elasticsearch_api_key }}"
xpack.monitoring.elasticsearch.ssl.certificate_authority: "{{logstash_ca_file_path}}/{{ logstash_ca_filename }}"
xpack.monitoring.elasticsearch.ssl.verification_mode: none
xpack.management.enabled: true
xpack.management.pipeline.id: ["*"]
xpack.management.elasticsearch.hosts: "https://127.0.0.1:9200"
xpack.management.elasticsearch.api_key: "{{ elasticsearch_api_key }}"
xpack.management.elasticsearch.ssl.certificate_authority: "{{logstash_ca_file_path}}/{{ logstash_ca_filename }}"
xpack.management.elasticsearch.ssl.verification_mode: none
