{
  "id": "logstash-agentbase-output",
  "is_default": false,
  "is_default_monitoring": false,
  "name": "logstash-agentbase-output",
  "type": "logstash",
  "hosts": [
    {% for host in groups['SF'] %}
    "{{ hostvars[host]['ansible_default_ipv4']['address'] }}:5044"{% if not loop.last %},{% endif %}
    {% endfor %}
  ],
  "config_yaml": "ssl.verification_mode: none\nloadbalance: true\nworker: 2",
  "ssl": {
    "certificate_authorities": ["{{ elastic_ca['content'] | b64decode | split('\n') | join('\\n') }}"],
    "certificate": "{{ client_crt['content'] | b64decode | split('\n') | join('\\n') }}",
    "key": "{{ client_key['content'] | b64decode | split('\n') | join('\\n') }}"
  }
}
