# ================================
#      SIEM System Setup Information
# ================================
# This file contains configuration details for the SIEM setup.

# SIEM Version
SIEM_VERSION: {{ siem_version }}

# Elasticsearch Configuration
Elasticsearch_Version: {{ es_version }}
Elasticsearch_Host: https://{{ hostvars[groups['BDA'][0]]['ansible_default_ipv4']['address'] }}:9200

# Kibana Configuration
Kibana_Host: https://{{ hostvars[groups['BDA'][0]]['ansible_default_ipv4']['address'] }}:5601

# Timezone Configuration
Timezone: {{ TimeZone }}

# Artifact Server Datastore
{% if groups['LB'] | length > 0 %}
Artifact_Server_Datastore_URL = http://{{ hostvars[groups['LB'][0]]['ansible_default_ipv4']['address'] }}:8082/downloads/
{% else %}
Artifact_Server_Datastore_URL = http://{{ hostvars[groups['SF'][0]]['ansible_default_ipv4']['address'] }}:8082/downloads/
{% endif %}
Artifact_Server_Datastore_Path: {{ artifact_server_datastore_path }}

# Repository Configuration
Repository_Address: deb [trusted=yes] http://{{ main_repository_ip_address }} siem main

# Elastic Map Service Configuration
Elastic_Map_Service_Host: https://{{ hostvars[groups['BDA'][0]]['ansible_default_ipv4']['address'] }}:8082

# Fleet Registry Configuration
Fleet_Registry_URL: http://127.0.0.1:8443

# Java Version
Java_Version: {{ java_version }}

# GeoIp database url
GeoIp_URL : http://{{ hostvars[groups['BDA'][0]]['ansible_default_ipv4']['address'] }}:82/overview.json

# Lshell Information
Lshell Username : {{ LSHELL_USER }}
Lshell Password: {{ Lshell_user_password }}