##################################################
#                                                #
#                WELCOME TO SIEM                #
#                                                #
#       This is a secured system. Unauthorized    #
#       access is prohibited and will be         #
#       prosecuted to the fullest extent of the  #
#       law.                                     #
#                                                #
#       You are accessing a private system.      #
#       Unauthorized use is prohibited.          #
#       All activities are monitored and logged.  #
#                                                #
#       System Name: SIEM Server                 #
#       Version: {{ siem_version }}              #
#                                                #
#       Please ensure you follow all security    #
#       protocols and best practices.            #
#                                                #
##################################################
