[global]
logpath         : /var/log/siem/shell/
loglevel        : 4
logfilename     : shell

syslogname      : lshell

[default]

allowed         : ['ls','echo','ll','vim','tail','sleep','touch','mkdir', 'tcpdump', 'netstat', 'ping', 'telnet', 'scp']

forbidden       : [';','&', '|', '`','>','<', '$(','${']

warning_counter : 2

aliases         : {'ll':'ls -l'}

intro           : "\nType '?' or 'help' to get the list of allowed commands"

prompt          : "\033[91m%u\033[97m@\033[96m%h\033[0m"

prompt_short    : 0

timer           : 300 # 5 minutes

path            : ['/var/log', '/tmp']


allowed_cmd_path: ['/usr/share/kibana/bin','/usr/share/elasticsearch/bin']

overssh         : ['ls', 'rsync']

strict          : 1

winscp: 1

history_size     : 10000


[{{ LSHELL_USER }}]
sudo_commands : [{{ SUDO_COMMANDS | map("regex_replace", "^(.*)$", "'\\1'") | join(', ') }}]
allowed_shell_escape	: ['dpkg']
allowed 		: + ['dpkg', 'sudo', 'gpg', 'ssh', 'scp', 'ssh-keygen', 'tcpdump']
path            	: + ['/etc', '/usr', '/var', '/home']
scp: 1 
scp_upload: 1
scp_download: 1
sftp: 1
