[Unit]
Description=zeek network analysis engine

[Service]
Type=forking
ExecStart=/opt/zeek/bin/zeekctl start
ExecStop=/opt/zeek/bin/zeekctl stop
ExecReload=/opt/zeek/bin/zeekctl deploy

[Install]
WantedBy=multi-user.target