net.core.rmem_max={{ net_core_rmem_max }}
net.core.rmem_default={{ net_core_rmem_default }}

net.ipv6.conf.all.disable_ipv6 = {{ disable_ipv6 }}
net.ipv6.conf.default.disable_ipv6 = {{ disable_ipv6 }}
net.ipv6.conf.lo.disable_ipv6 = {{ disable_ipv6 }}
