input{\n  kafka{\n      id => \"kafka_out_metrics\"\n      client_id => \"out_metrics\"\n      bootstrap_servers => \"localhost:9094\"\n      auto_offset_reset => \"earliest\"\n      partition_assignment_strategy  => \"sticky\"\n      topics => \"in_metrics\"\n      consumer_threads => 2\n      codec => \"json\"\n      add_field => { \"kafka_topic\" => \"in_metrics\" }\n  }\n}\n\nfilter {\n\tif [event][original] and [message] {\n\t\tmutate {\n\t\t\tremove_field => [\"[event][original]\"]\n\t\t}\n\t}\n  mutate {\n\tadd_field => { \"[data_source][name]\" => \"metric\" }\n  }\n}\n\noutput{\n  elasticsearch {\n    hosts => [{% for host in groups['SF'] %}\"https://{{ hostvars[host]['ansible_host'] }}:9200\"{% if not loop.last %},{% endif %}{% endfor %}]\n    api_key => \"{{ logstash_api_key }}\"\n    data_stream => true\n    ssl => true\n    ssl_certificate_verification => false\n  }\n}