input{\n  kafka{\n      id => \"kafka_out_other\"\n      client_id => \"out_other\"\n      bootstrap_servers => \"localhost:9094\"\n      auto_offset_reset => \"earliest\"\n      partition_assignment_strategy  => \"sticky\"\n      topics => \"in_other\"\n      consumer_threads => 1\n      codec => \"json\"\n      add_field => { \"kafka_topic\" => \"in_other\" }\n  }\n}\n\nfilter {\n  if [event][original] and [message] {\n    mutate {\n      remove_field => [\"[event][original]\"]\n    }\n  }\n}\n\noutput{\n  elasticsearch {\n    hosts => [{% for host in groups['SF'] %}\"https://{{ hostvars[host]['ansible_host'] }}:9200\"{% if not loop.last %},{% endif %}{% endfor %}]\n    api_key => \"{{ logstash_api_key }}\"\n    data_stream => true\n    ssl => true\n    ssl_certificate_verification => false\n  }\n}